<?xml version="1.0" encoding="utf-8"?>
<odoo>
    <data>
        <record id="invoice_export_csv" model="ir.actions.server">
                <field name="name">Export invoice in csv</field>
                <field name="model_id" ref="account.model_account_invoice"/>
                <field name="binding_model_id" ref="account.model_account_invoice" />
                <field name="binding_type">action</field>
                <field name="state">code</field>
                <field name="code"><![CDATA[
    #context = env['account.move.line'].browse(record._context.get('active_ids'))
res_id = env['invoice_export.wizard'].create({})
action = {
        'type': 'ir.actions.act_window',
        'name': 'Export Invoices to csv files',
        'res_model': 'invoice_export.wizard',
        'target': 'new',
        'res_id': res_id.id,
        'view_mode': 'form',
    }
                   ]]>
                </field>
           </record>
    </data>
</odoo>